* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px  solid rgb(48, 0, 80);
    margin-bottom: 30px;
}

.pesquisar {
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: rgb(151, 151, 240);
    color: #fff;
    cursor: pointer;
}

input {
    padding: 5px;
    border-radius: 10px;
}

.title {
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(48, 0, 80);
    margin-bottom: 20px;
    color: blueviolet;
    font-style: italic;
}

.conteudo {
    display: table;
}

section img {
    width: 50%;
    display: table-cell;
    float: left;
    border-radius: 10px;
}

.texto {
    float: left;
    width: 49%;
    margin-left: 10px;
    text-align: justify;
}

.lista-celulares {
    display: flex;
    flex-wrap: wrap;
}

.lista-celulares li {
    list-style: none;
    width: 25%;
}

.lista-celulares li img {
    align-items: center;
}

section button {
    width: 70%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

section h2 {
    padding-top: 30px;
    border-bottom: 2px solid blueviolet;
    font-style: italic;
}

.tipos {
    padding-top: 20px;
    padding-bottom: 10px;
}

.modelos {
    display: flex;
    justify-content: center;
}

.produtos {
    text-align: center;
}

.modelos {
    padding-bottom: 10px;
 
}

.comprar {
    margin-bottom: 15px;
}

.lista-celulares li img {
    justify-content: center;
}


